{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <h2 class="text-center fw-bold text-primary mb-4">Contact Us</h2>
    
    <div class="row">
       
        <div class="col-md-6 mb-4">
            <div class="bg-white p-4 shadow rounded-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">Your Name</label>
                        <input type="text" class="form-control" placeholder="Enter your name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Email Id</label>
                        <input type="email" class="form-control" placeholder="Enter your email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Message</label>
                        <textarea class="form-control" rows="4" placeholder="Write your message here..." required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 fw-bold">Send Message</button>
                </form>
            </div>
        </div>

      
        <div class="col-md-6">
            <div class="bg-white p-2 shadow rounded-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.014150093579!2d70.49466957530815!3d21.589433068285636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3958030f94000001%3A0x1a51ff5f9e51c8ba!2sNoble%20University%20-%20Best%20University!5e1!3m2!1sen!2sin!4v1784112574926!5m2!1sen!2sin" 
                        width="100%" height="375" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin">
                </iframe>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}